{% extends 'base.html.twig' %}
{% block body %}

    {% include 'component/header.html.twig' with {'active': 'team'} %}

    <main>
        <header>
            {% include 'component/avatar-header.html.twig' %}
            <div id="title-page">
                <h1>Équipe</h1>
            </div>
        </header>
        <body>
        <div id="content">
            <table id="team-container">
                <thead>
                <tr>
                    <th>Prénom, Nom</th>
                    <th>Statut</th>
                    {% if app.user is not null and 'ROLE_ADMIN' in app.user.roles %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for employee in employees %}
                    <tr>
                        <td>
                            <div class="employee-infos">
                                <div class="employee-avatar">
                                    {{ employee.avatar }}
                                </div>
                                <div class="employee-coords">
                                    <strong>{{ employee.firstName }} {{ employee.lastName }}</strong>
                                    <span>{{ employee.mail }}</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ employee.status }}
                        </td>
                        {% if app.user is not null and 'ROLE_ADMIN' in app.user.roles %}
                        <td>
                            <a class="button button-edit-team"
                               href="{{ path('app_employee_item', {'id': employee.id}) }}">
                                Éditer
                            </a>

                            <a class="delete-team" href="#"
                               onclick="return confirmDelete('{{ employee.id }}', '{{ employee.firstName }}', '{{ employee.lastName }}');">
                                Supprimer
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </body>
    </main>

    <script>
        function confirmDelete(id, firstName, lastName) {
            const confirmationMessage = `Êtes-vous sûr de vouloir supprimer ${firstName} ${lastName} ?`;
            const confirmDelete = confirm(confirmationMessage);

            if (confirmDelete) {
                const xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        window.location.href = "/employees";
                    } else {
                        console.error("Erreur lors de la suppression de l'employé :", xhr.statusText);
                    }
                };

                xhr.open("POST", `/employee/${id}/delete`);
                xhr.send();
                return false;
            } else {
                return true;
            }
        }
    </script>

{% endblock %}